---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const title = "thddrew's journal";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul
      role="list"
      class="not-prose space-y-10"
    >
      {
        allPosts.map((post) => (
          <Card
            href={post.url ?? "/404"}
            src={post.frontmatter.image.url}
            title={post.frontmatter.title}
            body={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>
