---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getSortedPosts } from "@/lib/getSortedPosts";
import type { Post } from "@/types/posts";

const title = "thddrew's journal";

const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const sortedPosts = getSortedPosts(allPosts);
---

<Layout title={title}>
  <main>
    <h1 class="text-3xl text-primary">{title}</h1>
    <ul
      role="list"
      class="not-prose space-y-3 lg:space-y-6"
    >
      {
        sortedPosts.map((post) => (
          <Card
            href={post.url ?? "/404"}
            date={post.frontmatter.pubDate}
            src={post.frontmatter.image.url}
            alt={post.frontmatter.image.alt}
            title={post.frontmatter.title}
            body={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>
