---
import { Image } from "astro:assets";
interface Props {
  title: string;
  href: string;
  src: string;
  body?: string;
  mini?: boolean;
}

const { href, title, body, src } = Astro.props;
---

<li class="p-2 rounded-lg transition-all hover:ring-1 ring-gray-700">
  <a href={href}>
    <div class="flex gap-10">
      <Image
        src={src}
        class="rounded-md shrink-0 h-[225px] w-[225px] object-cover"
        alt="TODO:Thumbnail"
        width={225}
        height={225}
      />
      <div class="p-2">
        <h2 class="text-4xl font-bold pb-4">
          {title}
        </h2>
        <p class="text-muted-foreground line-clamp-4">
          {body}
        </p>
        <!-- <Fragment
          class="text-muted-foreground"
          set:html={body}
        /> -->
      </div>
    </div>
  </a>
</li>
