---
interface Props {
  title: string;
  href: string;
  src: string;
  date: string;
  alt: string;
  body?: string;
  mini?: boolean;
}

const { href, title, date, body, src, alt } = Astro.props;
---

<li
  class="p-6 rounded-md transition-all block select-none space-y-1 leading-none hover:bg-slate-800/50 hover:text-accent-foreground hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] hover:drop-shadow-lg motion-reduce:transition-none group-hover:opacity-60 hover:!opacity-100"
>
  <a href={href}>
    <div class="flex gap-3 lg:gap-10">
      {/* For accessibility and SEO? */}
      <!-- <img
        src={src}
        class="hidden"
        alt={alt}
      />
      <div
        style={{
          backgroundImage: `url(${src})`,
        }}
        class="rounded-md shrink-0 bg-center bg-cover bg-no-repeat w-[80px] h-[80px] md:w-[120px] md:h-[120px] lg:w-[225px] lg:h-[225px]"
      >
      </div> -->
      <div class="space-y-3">
        <h2 class="tex-base font-bold mb-1">
          {title}
        </h2>
        <time class="text-sm text-muted-foreground">
          {
            new Date(date).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <br />
        <p class="text-muted-foreground line-clamp-4">
          {body}
        </p>
        <!-- <Fragment
          class="text-muted-foreground"
          set:html={body}
        /> -->
      </div>
    </div>
  </a>
</li>
