---
interface Props {
  title: string;
  href: string;
  src: string;
  alt: string;
  body?: string;
  mini?: boolean;
}

const { href, title, body, src, alt } = Astro.props;
---

<li
  class="p-3 rounded-lg transition-all block select-none space-y-1 leading-none no-underline outline-none hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground"
>
  <a href={href}>
    <div class="flex gap-3 lg:gap-10">
      {/* For accessibility and SEO? */}
      <img
        src={src}
        class="hidden"
        alt={alt}
      />
      <div
        style={{
          backgroundImage: `url(${src})`,
        }}
        class="rounded-md shrink-0 bg-center bg-cover bg-no-repeat w-[80px] h-[80px] md:w-[120px] md:h-[120px] lg:w-[225px] lg:h-[225px]"
      >
      </div>
      <div class="space-y-1">
        <h2 class="text-xl lg:text-2xl font-bold">
          {title}
        </h2>
        <p class="text-sm md:text-base text-muted-foreground line-clamp-4">
          {body}
        </p>
        <!-- <Fragment
          class="text-muted-foreground"
          set:html={body}
        /> -->
      </div>
    </div>
  </a>
</li>
